{{ define "main" }}

{{ $baseURL := .Site.BaseURL }}

<div class="container u-spacer u-after-site-nav">
  <header class="listings-header">
    <h1 class="listings-header__title">{{ .Params.page_title }}</h1>
    <p class="listings-header__intro">{{ .Params.page_intro }}</p>
  </header>
</div>

<section class="listings-body">
  <ul class="article-list">
    <li class="article-item">
      <a class="article-item__link" href="">
        <img class="article-item__thumbnail" src="" alt="Article Image"/>
        <div class="article-item__body">
          <div class="article-item__title">Item Title</div>
          <div class="article-item__summary">Item teaser</div>
          <div class="article-item__meta">
            <div class="article-item__author">
              <img class="article-item__author__image" src="" alt="Author Image"/>
              <div class="article-item__author__name"><span>Author Name</span></div>
            </div>
            <div class="u-group--unstyled">
              <div class="article-item__date">
                <i class="fa fa-clock-o"></i> Post date
              </div>
              <div class="article-item__location">
                <i class="fa fa-map-marker"></i> City, Country
              </div>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>

{{ end }}
