{{ define "main" }}

{{ $baseURL := .Site.BaseURL }}

<div class="container u-spacer u-after-site-nav">
  <header class="listings-header">
    <h1 class="listings-header__title">{{ .Params.page_title }}</h1>
    <p class="listings-header__intro">{{ .Params.page_intro }}</p>
  </header>
</div>

<section class="listings-body">
  {{ if .Data.Pages }}
  <ul class="article-list">
    {{ range .Data.Pages }}
    <li class="article-item">
      <a class="article-item__link" href="{{ .Permalink }}">
        <img class="article-item__thumbnail" src="{{ .Params.image }}" alt="{{ .Title }}"/>
        <div class="article-item__body">
          <div class="article-item__title">{{ .Title }}</div>
          <div class="article-item__summary">{{ .Params.teaser }}</div>
          <div class="article-item__meta">
            {{ with .Params.authors }}
            {{ range . }}
            {{ if eq . "Ian" }}
            <div class="article-item__author">
              <img class="article-item__author__image" src="/img/ian.jpg" alt="{{ . }}"/>
              <div class="article-item__author__name"><span>{{ . }}</span></div>
            </div>
            {{ else }}
            <div class="article-item__author">
              <img class="article-item__author__image" src="/img/clare.jpg" alt="{{ . }}"/>
              <div class="article-item__author__name"><span>{{ . }}</span></div>
            </div>
            {{ end }}
            {{ end }}
            {{ end }}

            <div class="u-group--unstyled">
              <div class="article-item__date">
                <i class="fa fa-clock-o"></i> {{ .Date.Format "Mon 1 Jan 2006" }}
              </div>
              <div class="article-item__location">
                <i class="fa fa-map-marker"></i> {{ .Params.city }}, {{ .Params.country }}
              </div>
            </div>
          </div>
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</section>

{{ end }}
