{{ define "navigation" }}
  {{ partial "nav_dark" . }}
{{ end }}

{{ define "main" }}

{{ $baseURL := .Site.BaseURL }}

<article class="content gallery-content" data-title="{{ .Title }}">
  <header class="container container--full">
    <div class="content-narrow u-center">
      <h1 id="page-title" class="gallery__title"><span>{{ .Title }}</span></h1>
			<span class="gallery__date">Published {{ .Date.Format "Monday, 02 January 2006" }} &nbsp; | &nbsp; <a href="https://500px.com/twonewnatives/galleries/{{ .Params.gallery_id }}" target="_blank">View on 500px <i class="fa fa-external-link"></i></a></span>
    </div>
  </header>
  <section class="container">
    <div class="content__body">
      {{ .Content }}
    </div>
  </section>
  <section id="gallery" data-gallery-id="{{ .Params.gallery_id }}"></section>
</article>


{{ end }}
