{{ define "main" }}

{{ $baseURL := .Site.BaseURL }}

{{ range first 1 (where .Data.Pages.ByDate.Reverse "Section" "journal") }}
<div class="p-banner">
  <div class="container container--full u-center-group">
    <div class="p-banner__background" style="background-image: url({{ .Params.image }})"></div>
    <div class="u-group">
      <div class="p-banner__location">
        <i class="fa fa-map-marker"></i>
        {{ .Params.city }}, {{ .Params.Country }}
      </div>
      <div class="p-banner__title">
        {{ .Title }}
      </div>
      <div class="p-banner__teaser u-hide-for-small">
        {{ .Params.teaser }}
      </div>
      <a class="p-banner__button" href="{{ .Permalink }}">Read More</a>
    </div>
  </div>
</div>
{{ end }}

<div class="container u-spacer">
  <div class="flexbox--no-align">

    <section class="container__half">
      <h2 class="listings-header__title">Latest Journals</h2>
      {{ range where .Data.Pages "Section" "journal" }}
      <section class="listings-body">
        <ul class="article-list">
          <li class="article-item--small">
            <a class="article-item__link" href="{{ .Permalink }}">
              <img class="article-item__thumbnail--small" src="{{ .Params.image }}" alt="{{ .Title }}"/>
              <div class="article-item__body--small">
                <div class="article-item__title">{{ .Title }}</div>
                <div class="article-item__summary">{{ .Params.teaser }}</div>
                <div class="article-item__meta">
                  <div class="u-group">
                    <div class="article-item__date">
                      <i class="fa fa-clock-o"></i> {{ .Date.Format "Mon, 02 Jan 2006" }}
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </section>
      {{ end }}
    </section>

    <section class="container__half">
      <h2 class="listings-header__title">Latest Galleries</h2>
      {{ range where .Data.Pages "Section" "galleries" }}
      <section class="listings-body">
        <ul class="article-list">
          <li class="article-item--small">
            <a class="article-item__link" href="{{ .Permalink }}">
              <img class="article-item__thumbnail--small" src="{{ .Params.image }}" alt="{{ .Title }}"/>
              <div class="article-item__body--small">
                <div class="article-item__title">{{ .Title }}</div>
                <div class="article-item__summary">{{ .Params.teaser }}</div>
                <div class="article-item__meta">
                  <div class="u-group">
                    <div class="article-item__date">
                      <i class="fa fa-clock-o"></i> {{ .Date.Format "Mon, 02 Jan 2006" }}
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </section>
      {{ end }}
    </section>

  </div>
</div>

{{ end }}
