@include bp-x-small {

  #disqus_thread {
    @include content-width(54rem);
    margin-bottom: 4rem;
		margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@include bp-large {

  #disqus_thread {
    @include content-width(76.8rem);
  }
}
